/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custome Styles */

.header {
    background-color:#000080;
    padding:26px 0;
    text-align:center;
}

.ad{
    margin-left:6px;

}

.anch{
    text-decoration:none;
    color:white;
    margin:0 5px;
}



hr{
    width:400px;
    margin:24px auto;
    border:0;
    border-bottom:2px dotted black;
}

h1 {
    font-size:26px;
    text-align:center;
    padding:24px 0;
    font-weight:bold;
}

h2{
    font-size:20px;
    text-align:center;
    padding:24px 0;
    font-weight:bold;
}

.box1{
    background-color:#99D8CA;
    width:120px;
    height:120px;
    margin:30px auto;
    border:16px solid #5873E2;
    outline:6px solid #0D1430;
    box-shadow:0 0 0 16px #90ffA9;
    border-radius:2px;
}

.container1{
    text-align:center;
    margin-top:45px;
    
}
.circle {
    width:13px;
    height:13px;
    border:2px solid black;
    border-radius:50%;
    background-color:#99D8CA;
    display:inline-block;
    text-align:center;
    margin:0 5px;
    vertical-align:middle;

}

.grey{
    background-color:#99D8CA;
}

.black{
    background-color:#0D1430;
}

.green{
    background-color:green;
}

.blue{
    background-color:#5873E2;
}

.child-box1{
    display:inline-block;
    margin:0 15px;
}
span{
    vertical-align:middle;
}

.containertwo {
    width:660px;
    border:2px solid black;
    margin:24px auto;
    font-size:0;
}   

.child-box2{
    width:200px;
    height:180px;
    margin:10px 10px;
    background-color:lightskyblue;
    display:inline-block;
    box-sizing:border-box;
}

.border{
    border:2px solid black;
}

.container3{
    width:660px;
    height:200px;
    padding:20px 25px;
    margin:0 auto;
    text-align:left;
}

.container4{
    margin-left: 49px;
    margin-bottom:200px;
}

.img1{
    width: 290px;
    height:200px;
    object-fit:cover;
    display:inline-block;
 
}

.text{
    display:inline-block;
    width:290px;
    height:200px;
    margin-left:20px;
    box-sizing:border-box;
    vertical-align:top;
    text-align:left;
}

.button{
    line-height:1.5;
    background-color:green;
    color:white;
    display:inline-block;
    border-radius:10px;
    text-align:center;
}

h3{
    font-size:17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    margin-bottom:10px;
}

.addition{
    width:100px;
    height:30px;
    text-align:center;
    background-color:green;
    border-radius:4px;
    margin:15px 0;
    padding:5px;
    line-height:1.5;
    display:inline-block;
    color:white;
    text-decoration:none;
    vertical-align: middle;
}

.para1{
    text-align:left;
    font-family:'Times New Roman', Times, serif;
}

.img2{
    width: 290px;
    height:200px;
    object-fit:cover;
    display:inline-block;
}

.child-contain {
    display:inline-block;
}

.child-contain2 {
    display:inline-block;
    margin:0 20px;  
}
.text2{
    display:block;
    width:290px;
    height:200px;
    box-sizing:border-box;
    text-align:left;
}

.orange {
    display:block;
    margin:15px 0;
    color:orange;
}

.footer {
    background-color:#000080;
    color:white;
    padding:26px 0;
    text-align:center;
    bottom:0;
}